.Header {
    display: flex;
    justify-content: space-between;
}

.Header h1 {
    cursor: pointer;
    color: var(--text-color);
}

.Header h1:hover {
    color: var(--darker-text);
}

@media screen and (max-width: 550px) {

    .Header h1 {
        font-size: 3rem;
    }
}