.ArtistLink {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.ArtistLink img {
    border-radius: .8rem;
}

.ArtistLink h2 {
    max-width: 210px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ArtistLink:hover h2 {
    width: auto;
    white-space: pre-wrap;
    overflow: initial;
}

@media screen and (max-width: 550px) {

    .ArtistLink h2 {
        max-width: 80vw;
    }
}